* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
html {
  font-size: 62.5%;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgb(255, 255, 255, 0.5);
  --surface-color: rgb(255, 255, 255, 0.1);
  --surface-color-hover: rgb(255, 255, 255, 0.05);
  --highligth-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.ligth {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgb(0, 0, 0, 0.5);
  --surface-color: rgb(0, 0, 0, 0.05);
  --surface-color-hover: rgb(0, 0, 0, 0.02);
  --highligth-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background-image: var(--bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 58.8rem;
  margin: auto;
  margin-top: 5.6rem;
}
#profile {
  text-align: center;
  padding: 2.4rem;
}

#profile img {
  width: 11.2rem;
  margin: auto;
}

#profile p {
  margin-top: 0.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: 2.4rem;
}

/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 0.4rem auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 0.8rem solid var(--highligth-color);
}

.ligth #switch button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 0.1rem solid var(--stroke-color);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  border-radius: 9.999rem;
}

/*Link -- lista*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem 0;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
  background: var(--surface-color);
  border: 0.1rem solid var(--stroke-color);
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: 2.4rem;
  transition: background all 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 0.2rem solid var(--text-color);
}
/*social-link*/

#social-link {
  display: flex;
  padding: 2.4rem 0;
  font-size: 2.4rem;
  justify-content: center;
}

#social-link a {
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  transition: background all 0.2s;
  border-radius: 50%;
}

#social-link a:hover {
  background: var(--highligth-color);
  padding: 1.6rem;
}

footer {
  padding: 2.4rem 0;
  font-size: 1.4rem;
  text-align: center;
}

/*Midia queries*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .ligth {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/*Animation*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
